.wishlist{
    /* height: 90dvh; */
    width: 90%;
    margin: 4rem auto;
}

.wishlist__lists{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}


.wishlist__empty{
    width: 100%;
    height: 80%;
    display: grid;
    place-content: center;
}

/* .wishlist__noproductFound{
    position: absolute;
    top: 400px;
    /* width: 100%;
    height: 100%;
    display: grid;
    place-content: center; */

