.cart{
    display: grid;
    max-width: 80%;
    min-height: 90vh;
    grid-template-columns: 4fr 2.5fr;
    margin: 2rem auto;
    gap: 1.6rem;
}


/* .cart__products, .cart__details{
    border: 2px solid;
} */

.cart__detail{
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* align-items: center; */
    gap: 0.4rem;
}

.cart__lists{
    display: grid;
    place-content: center;
    /* border: 2px solid; */
    margin: 1rem;
    gap: 2rem;
}


.cart__product{
    display: grid;
    grid-template-columns: 1fr 4fr;
    border: 2px solid var(--primary-color-light);
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
}   

.cart__productImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    outline: 1px solid var(--primary-color-light);
    outline-offset: 0.2rem;
}

.cart__quantity{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__buttons{
    width: 68%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__quantity{
    font-size: 1rem;
}

.cart__details{
    border: 2px solid var(--primary-color-light);
    padding: 1.5rem;
    gap: 1rem;
    border-radius: 1rem;
    height: max-content;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: max-content;
    position: relative;
}

.cart__details > p, h2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__checkout{
    width: 100%;
    margin: 0.2rem auto;
    height: 3rem;
    background: transparent;
    border: none;
    background:#994ff31e;
    border-radius: 6rem;
    color: var(--primary-color-dark);
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.cart__checkout:hover, .cart__checkout:active{
    outline: 4px solid #994ff311;
    background: var(--primary-color-dark);
    color: white;
}

.cart__coupon{
    border: 1.5px solid var(--primary-color-light);
    font-family: (--primary-font);
    outline: none;
    background: white;
    border-radius: 3rem;
    padding: 0.4rem 1rem;
    cursor: pointer;
    color: var(--primary-color-dark);
}

.cart__couponlogo{
    color: var(--primary-color);
}

 .cart__coupon:hover{
    outline: 2px solid var(--primary-color-light);
}

.cart__message{
    color: var(--primary-color-dark);
    font-weight: bold;
}



.coupon__list{
    position: absolute;
    list-style: none;
    border: 2px solid var(--primary-color-light);
    top: 3.5rem;
    width: 80%;
    background: white;
    height: 8rem;
    overflow-y: scroll;
    padding: 0.4rem;
    border-radius: 0.6rem;

}

.cart__couponItem{
    cursor: pointer;
    border: 1.5px dashed var(--primary-color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.4rem;
    padding: 0.5rem;
    margin-bottom: 0.3rem;
    accent-color: var(--primary-color-dark);
}

.cart__couponItem:hover, .cart__couponItem:active{
    border: 1.5px dashed var(--primary-color-dark);
}

.cart__couponinfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cart__couponRemoveBtn{
    font-size: 1.3rem;
    color: rgb(255, 55, 55);
    font-weight: bold;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
}

.cart__couponRemoveBtn:hover{
    background-color: rgba(248, 153, 153, 0.247);
}
.cart__coupons{
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}


@media (width <= 380px) {
    .cart{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cart__lists{
        gap: 1rem;
    }

    .cart__product{
        width: 100%;
       display: flex;
       flex-direction: column;
       /* justify-content: space-between; */
       /* align-items: center; */
    }   
    
    .cart__detail > p, h1{
     font-size: 1.2rem;
    }

    .cart__productImage{
        height: 100%;
        width: 100%;

    }

}