.home__images{
    width: 100%;
    padding: 6rem 0;    
}

.home__top{
    position: relative;
}

.home__shop{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(var(--primary-color-light), rgba(255, 255, 255, 0.712));
    text-align: center;
    backdrop-filter: blur(6px);
}

.home__headline{
    font-size: 6rem;
    color: var(--secondary-color);
    font-weight: 900;
    margin-top: 10rem;
    text-align: center;
    padding: 0 5rem;
    text-transform: lowercase;
    text-shadow: 4px 4px rgb(0, 0, 0);
    font-family: var(--secondary-font);
}

.home__cta{
    margin: 6rem auto;
    width: 12rem;
    height: 4rem;
    background: var(--secondary-color);
    border: none;
    border-radius: 8rem;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Manrope', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 0.4rem;
}

.home__cta:hover, .home__cta:active{
    outline: 6px solid var(--secondary-color-light);
}

.home__categories{
    display: flex;
    flex-direction: column;
    padding: 5rem 12rem;
}

.home__lists{
    display: grid;
    margin-top: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.home__category{
    border: 2px solid var(--primary-color);
    list-style: none;
    padding: 2rem 1rem;
    border-radius: 0.8rem;
    text-transform: lowercase;
    cursor: pointer;
}

.home__category:hover, .home__category:active{
    background: #7c11ff15;
}

.home__title{
    font-size: 3rem;
}

.home__categoryName{
    font-size: 1.8rem;
    color: var(--primary-color);
}

.home__categoryDescription{
    font-size: 1.1rem;
}