.order__message{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.order__messageSuccess{
    color: #21ba45;
    text-align: center
}

@media (width <= 380px) {
    .order__message{
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    
    .order__messageSuccess{
        font-size: 3.5rem;
        color: #21ba45;
        text-align: center
    }
}