.order__message{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.order__messageSuccess{
    color: rgba(9, 255, 0, 0.534);
    text-align: center
}