.checkout{
    width: 70%;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

}

.checkout__address, .checkout__details{
    border: 2px solid;
    padding: 2rem;
    display: flex;
    flex-direction: column  ;
    gap: 0.5rem;
}


.checkout__details > p, .checkout__quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


