.checkout{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.checkout__address{
    width: 100%;
}

.checkout__address, .checkout__details{
    border: 2px solid;
    padding: 2rem;
    display: flex;
    flex-direction: column  ;
    gap: 0.5rem;
}


.checkout__details > p, .checkout__quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout__addressSelect{   
    border: 2px solid var(--primary-color-light);
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer; 
}


.checkout__addressInput{
    accent-color: var(--primary-color);
    cursor: pointer; 
}

.checkout__addressSelect:hover{
    border: 2px solid var(--primary-color-dark);
}

.checkout--div{
    border: 2px solid var(--primary-color-light);
    border-radius: 1rem;
}


/* MOBILE DEVICE */

@media (width <= 380px) {
    .checkout{
        display: flex;
        width: 90%;
        flex-direction: column;
    }

    .user__addressform{
        width: 80%;
        margin: auto;
        padding: 0;
    }

    .addressForm{
        width: 80%;
        margin: auto;
    }

}