.header__navbar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    align-items: center;
}

.header__right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.header__links{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__links:hover, .header__links:active{
    color: var(--primary-color-dark);
}

.header__linkname{
    font-size: 1rem;
}

.header__logo--length{
    width: 1.2rem;
    height: 1.2rem;
    outline: 2px solid white;
    background: var(--primary-color);
    border-radius: 1rem;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.header__wishnav, .header__cartnav{
    position: relative;
}

 .header__wishlist{
    position: absolute;
    right: 0.4rem;
    bottom: 2rem;
}

.header__cart{
    position: absolute;
    right: -0.4rem;
    bottom: 2rem;

}


@media (width <= 380px) {


    .header__navbar{
        border: 2px solid;
        padding: 1.5rem 1rem;
        align-items: center;
        display: grid;
        grid-template-areas: "logo navlists"
                             "search search";
        grid-template-columns: 100px 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .logo{
        grid-area: logo;
    }
    
    .search{
        grid-area: search;
        width: 200px;

    }

    .navlists{
        grid-area: navlists;
    }


    

}