.footer{
    padding: 2rem 8rem;
    background: var(--secondary-color);
}

.footer__top{
    text-align: center;
}

.footer__bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3rem;
}

.footer--card{
    text-align: left;
    list-style: none;
}


/* MOBILE DEVICE */
@media (width <= 380px){
    .footer{
        padding: 2rem 1rem;
        background: var(--secondary-color);
        margin-bottom: 4rem;
    }

    .footer__bottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        gap: 1.5rem;
    }
}