.products{
    display: grid;
    grid-template-columns: 1.2fr 4fr;
}

.products__filter{
    border: 2px solid;
    height: 90vh;
}

.products__lists{
    height: 90vh;
    overflow-y: scroll;
    border: 2px solid;
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

